<span [ngSwitch]="alerta">
<p *ngSwitchCase="'success'">
Success
</p>
<p *ngSwitchCase="'info'">
Info
</p>
<p *ngSwitchCase="'warning'">
Warning
</p>
<p *ngSwitchDefault>
Danger
</p>
</span>

<button (click)="alerta = 'primary'" class="btn btn-primary">Primary</button>
<button (click)="alerta = 'secondary'" class="btn btn-primary">Secondary</button>
<button (click)="alerta = ''" class="btn btn-primary">Danger</button>
<button (click)="alerta = 'success'" class="btn btn-primary">Success</button>
<button (click)="alerta = 'warning'" class="btn btn-primary">Warning</button>
<button (click)="alerta = 'info'" class="btn btn-primary">Info</button>

<div [ngSwitch] ="alerta">
    <div  *ngSwitchCase="'primary'"  class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    <div *ngSwitchCase="'secondary'" class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
    </div>
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
</div>
<div *ngSwitchDefault class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
    A simple warning alert—check it out!
</div>
<div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
    A simple info alert—check it out!
    </div>
</div>
